


.slider-container{
    /* width: 100%!important; */
    /* justify-content: center;
     */
    height: 100%!important;

}
.slick-list {
      height: 100%!important;
}
.slick-slide{
    width: auto!important;
    height: 100%!important;
    
}
.images{
    margin-left: 19px;
    margin-right: 20px;
    display: flex;
    align-items: center;
 
}

@media(max-width:645px){

    .slider-container{
        width: 100%;
    }

    .images{
        width: 100%;
        padding: 0px;
        margin-left: 20%;
    }


    .slick-track{
        width: 100%;
        padding: 0px;
    }
}