.frequently-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
  padding-top: 40px;
  gap: 20px;
  align-items: center;
}

.frequently-header {
  display: flex;
  gap: 10px;
  align-self: center;
}

.frequently-header h1{
  font-size: 32px;
}

.questions-asked {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 800px;
  padding-left: 40px;
  gap: 20px;
  align-content: center;
}
.questions-asked h3{
    font-weight: 500;
    color: #1E1E1E;
  }

.questions-asked1, .questions-asked2, .questions-asked3, .questions-asked4, .questions-asked5, .questions-asked6 {
  display: grid;
  grid-template-columns: 90% 10%;
  border-bottom: 1px solid #00a6e033;
}


@media (max-width: 645px) {



 
  .frequently-header{
    width: 100%;
    justify-content: center;
  }


  .frequently-header h1{
    font-size: 24px;
    font-weight: 500;
  }

  .questions-asked {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
  }

  .frequently-container {
    width: 100%;
    padding: 40px;
  }


  .questions-asked h3{
    font-weight: 500;
    color: #1E1E1E;
  }


  .questions-asked1, .questions-asked2, .questions-asked3, .questions-asked4, .questions-asked5, .questions-asked6{
    width: 300px;
  }

   
}
