.section7{
    background-color: #F4F4F4;
}


.main-chart-container{
    display: flex;
    padding: 80px;
}

.chart-container{
    display: flex;
    gap: 30px;
}


.two-charts{
    display: flex;
    width: 580px;
    align-self: center;
    height: 330px;
    color: #F4F4F4;
}


/* .first-chart{
    border: 1px solid ;
} */

.blank{
    background-color: rgba(126, 185, 15, 0.2);
    /* border: 1px solid; */
    padding: 50px;
    width: 285px;
    height: 160px;
}

.chart{
    width: 285px;
    height: 169px;
    background-color: rgba(126, 185, 15, 0.5);
}

.chart img{
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}



.second-chart{
    border: 1px solid;
    width: 285px;
    align-content: center;
    background-color: rgba(126, 185, 15, 0.1);
}

.second-chart img{
    float: right;
}



.schedule-container{
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 650px;
}


.schedule-title{
    border: 1px solid white;
    /* align-self: center; */
    justify-items: center;
    color: #7EB90F;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.schedule-form{
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 1px solid white;
    background-color: #FFFFFF;
    border-radius: 5px;
    gap: 20px;
}


.first-last-name{
    display: flex;
    gap: 30px;
   /* justify-content: space-evenly; */
}

.fname{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.lname{
    display: flex;
    gap: 5px;
    flex-direction: column;
}


.first-name{
    padding: 15px;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    width: 250px;
    padding-left: 25px;
}

.last-name{
    padding: 15px;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    width: 250px;
    padding-left: 25px;
}


.email-address{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email{
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    padding: 15px;
    width: 530px;
    padding-left: 23px;
}


.company-name{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.company{
    border-radius: 5px;
    padding: 15px;
     width: 530px;
    border: 1px solid #8D8D8D;
    padding-left: 22px;
}

.condition-message{
    display: flex;
    gap: 10px;
}

.condition-message h1{
    font-size: 12px;
    font-weight: 400;
}

.send-button .schedule-button{
    width: 530px;
}




@media(max-width:645px){

  
    .main-chart-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
    }


    .chart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .two-charts{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }


    /* .second-chart{
       padding: 10px;

    } */

       .schedule-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        }


        .schedule-form{
            width: 100%;
            display: flex;
        }

        .first-last-name{
            display: flex;
            flex-direction: column;
        }


        .email-address{
            width: 100%;
        }

        .email{
            width: 100%;
        }


        .company-name{
            width: 100%;
        }

        .company{
            width: 100%;
        }


        .condition-message h1{
            font-size: 14px;
            text-align: justify;
            color: #8D8D8D;
        }


        .send-button .schedule-button{
            width: 100%;
        }
}


@media(max-width:1024px){
    .main-chart-container{
        width: 100%;
        padding: 20px;
    }

    .container{
        width: 100%;
        padding: 0px;
    }

    .chart-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .two-charts{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .schedule-container{
        width: 100%;
        padding: 20px;
    }

    .schedule-form{
        width: 100%;
        padding: 0px;
        align-items: center;
    }

    .condition-message h1{
        width: 500px;
        text-align: center;
    }
}


