.section2{
    background-color: white;
}


.solution-page{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.solution-title{
    padding-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.solution-title h2{
    font-size: 30px;
    /* margin-left: 50px; */
    font-weight: 500;
}


.solution-title h3{
    width: 650px;
    font-size: 19px;
    font-weight: 400;
    color: #656565;
    /* margin-left: 50px; */
}


.major-locations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 80px;
    padding-bottom: 20px;
    padding-top: 30px;
}



.retail-ecommerce{
    border: 1px solid #EBEBEB;
    padding: 40px;
}

.ecommerce-contents{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.ecommerce-contents span{
    font-size: 20px;
    font-weight: 550;
}



.ecommerce-paragraph{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}


.ecommerce-paragraph p{
    font-size: 18px;
    color: #656565;
}



.manufacturing{
    border: 1px solid #EBEBEB;
    padding: 40px;
}





.manufacture-image{
    display: flex;
    align-items: center;
    border: 1px solid #656565;
    width: 300px;
    border: 1px solid white;
}

.manufacture-image span{
    font-size: 20px;
    width: 180px;
    font-weight: 550;
}


.manufacture-paragraph{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
}

.manufacture-paragraph p{
    font-size: 18px;
    color: #656565;
}



.health-care{
    border: 1px solid #EBEBEB;
    padding: 40px;
}


.healthcare-image{
    display: flex;
    align-items: center;
    gap: 10px;
}


.healthcare-image span{
    font-size: 20px;
    width: 120px;
    font-weight: 550;
}


.healthcare-paragraph{
    font-size: 18px;
    display: grid;
    grid-template-columns: 10% 95%;
    align-items: center;
}


.healthcare-paragraph p{
    font-size: 17px;
    color: #656565;
}


.scroll-page{
    display: flex;
    align-self: center;
    align-items: center;
    padding-bottom: 40px;
}


.empty-button {
    border: 1px solid #7EB90F;
    padding: 3px;
    color: #7EB90F;
    border-radius: 5px;
    width: 30px;
    background-color: #7EB90F;
}



@media(max-width:645px){

    .solution-page{
        display: flex;
    }

    .solution-title{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 40px;
    }


    .solution-title h2{
        font-size: 22px;
        font-weight: 550;
        align-self: center;
    }



    .solution-title h3{
        display: flex;
        font-size: 16px;
        width: 350px;
        text-align: center;
    }

    .ecommerce-contents img{
        display: flex;
        font-size: 15px;
    }

    .major-locations{
       display: grid;
       grid-template-columns: 1fr;
      padding: 0px;
    }

    .ecommerce-contents span{
        font-weight: 400;
    }

    .ecommerce-paragraph p{
        font-size: 16px;
        padding-top: 10px;
    }



    .manufacture-image span{
        font-weight: 400;
    }

    .manufacture-paragraph p{
        font-size: 16px;
        padding-top: 10px;
    }



    .healthcare-image span{
        font-weight: 500;
    }

    .healthcare-paragraph p{
        font-size: 16px;
        padding-top: 10px;
    }





    .scroll-page{
        justify-content: center;
    }
    .empty-button{
        align-self: center;
    }

}


@media(max-width:820px){
    .solution-page{
        width: 100%;
    }


    .solution-title{
        padding-top: 40px;
    }

    .major-locations{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .retail-ecommerce{
        padding: 20px;
    }

    .manufacturing{
        padding: 20px;
    }

    .health-care{
        padding: 20px;
    }
}